@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a2e;
  font-family: Arial, sans-serif; /* Default font family for the entire page */
  background-image: url('vitalGraph.png'); /* Update with your actual image path */
  background-size: contain; /* Adjusted to 'contain' to fit entire image within the container */
  background-repeat: no-repeat; /* Prevents image from repeating */
  background-position: center;
  position: relative;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white for readability */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the form is on top of the background image */
}

.login-form h1 {
  margin-bottom: 1rem;
  color: #1a1a2e; /* Navy blue color */
  font-family: 'Montserrat', sans-serif; /* Using Montserrat for Safenest.AI */
  font-weight: 600;
  font-size: 2rem;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  color: #333; /* Default color for other headings */
  font-weight: 700;
}

.login-form .message {
  margin-bottom: 1rem; /* Adjusted margin */
  color: #555; /* Default color for messages */
  font-size: 1rem;
}

.login-form .error {
  color: #e74c3c;
  margin-bottom: 1rem;
}

.login-form div {
  margin-bottom: 1rem;
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555; /* Default color for labels */
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #1a1a2e;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #162b4b;
}

.login-form .signup-link {
  margin-top: 1rem;
  color: #1a1a2e;
  text-decoration: none;
  display: block;
}

.login-form .signup-link:hover {
  text-decoration: underline;
}
